@import "./Modules/About";
@import "./Modules/Book";
@import "./Modules/Chefs";
@import "./Modules/Contact";
@import "./Modules/Events";
@import "./Modules/Footer";
@import "./Modules/Gallery";
@import "./Modules/Home";
@import "./Modules/Menu";
@import "./Modules/Navbar";
@import "./Modules/Specials";
@import "./Modules/WhyUs";
@import "./Modules/Hero";
