// botStrap

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// sass

@import "./Variables";
@import "./Mixins";
@import "./allModules";