// botStrap

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";




// Add color

$or: #ee9c04;

$Omar-colors: (
"or": $or, );


$theme-colors: map-merge($Omar-colors , $theme-colors);



// sass

@import "./Variables";
@import "./Mixins";
@import "./allModules";