.aboutHero{
    // background-color: aquamarine;
    padding: 5vw;
}

.aboutTwo{
    // background-color: bisque;
    display: flex;
    gap: 1vw;
    img{
        width:40vw ;
    }

    .boxAbout{
        // background-color: goldenrod;
    }
}

.titleAbout {
    p{
    color: grey;
    width: 40vw;

    }

}