
.header {
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  font-weight: 600;
  font-size: 28px;
}

.highlight {
  color: orange;
}

.main-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 20px 40px;
}

.left-img {
  width: 25%;
}

.left-img img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.form-container {
  width: 55%;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 15px;
  background: white;
}

textarea {
  height: 160px;
}

/* BUTTON */
.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn button {
  background: orange;
  color:white;
  border: none;
  padding: 14px 40px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.2s;
}

.submit-btn button:hover {
  background: orange;
}
