
.contact-section {
    max-width: 1300px;
    margin: 50px auto;
    display: flex;
    gap: 40px;
}

.contact-info-box {
    width: 40%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.contact-info-box h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-info-box p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.info-item h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.info-item p {
    margin: 5px 0 0;
    color: #666;
}

.icon {
    font-size: 28px;
    color: #f7a737;
}

hr {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    margin: 20px 0;
}

.contact-form {
    width: 60%;
}

.contact-form .row1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    background: #fff;
    transition: 0.3s ease;
}

.contact-form .subject {
    margin-bottom: 20px;
}

.contact-form textarea {
    height: 230px;
    resize: none;
}

.contact-form input:hover,
.contact-form textarea:hover {
    border-color: #f7a737;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #f7a737;
    outline: none;
}

.send-btn {
    background: #f7a737;
    color: #fff;
    border: none;
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    transition: 0.3s;
}

.send-btn:hover {
    background: #e29130;
}


.contact{
    padding-top: 50px;
}