.images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px; 
    width: 100%;
    max-width: 100%; 
    margin: auto;
}

.images-grid img {
    width: 100%;
    height: 35vh; 
    object-fit: cover;
    border-radius: 6px;
}
