
/* -----------------------
   TABLET 768px
------------------------*/
@media (max-width: 768px) {

    .top {
        flex-direction: column;
        gap: 10px;
        padding: 2vw 4vw;
    }

    .right-button button {
        width: auto;
        padding: 10px 20px;
    }

    .underNav {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
        gap: 10px;
    }

    .links-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .links-nav a {
        padding: 5px 10px;
    }
}



/* -----------------------
   MOBILE 425px
------------------------*/
@media (max-width: 425px) {

    .top-left {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .underNav {
        gap: 15px;
    }

    .logo h1 {
        font-size: 26px;
    }

    .links-nav {
        flex-direction: column;
        gap: 10px;
    }

    .links-nav a {
        padding: 8px 0;
        display: block;
    }
}
