.specials {
  padding: 60px 0;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px;
  transition: 0.3s;
  color: #444444;
  border-radius: 0;
  border-right: 2px solid #eeeeee;
}

.specials .nav-link:hover {
  color: orange;
}

.specials .nav-link.active {
  color: orange;
}

.specials .details {
  padding: 0 0 0 20px;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #5c5959;
}

.specials .details p {
  color: #777777;
}

.specials .img-fluid {
  border-radius: 8px;
}

.section-title1{
    @include myflex(flex,column,center,none,10px);
    text-align: center;

}

.fonth3 h3{
        font-family: "Satisfy", cursive;
        color: black !important;
}

   
