.special-carousel {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LEFT LIST */
.carousel-list {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel-list .item {
    cursor: pointer;
    font-size: 20px;
    color: #444;
    font-weight: 600;
    display: block;
}

.carousel-list .item input {
    display: none;
}

.carousel-list .item span {
    transition: 0.3s;
    display: inline-block;
    padding: 10px 0;
}

.carousel-list .item input:checked + span {
    color: #ff9d22;
}

/* RIGHT IMAGES */
.carousel-images {
    position: relative;
    width: 350px;
    height: 350px;
}

.carousel-images .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease;
    background-size: cover;
    background-position: center;
}

.img1 { background: url("../../../Delicious/images/specials-1.jpg"); }
.img2 { background: url("../../../Delicious/images/specials-2.jpg"); }
.img3 { background: url("../../../Delicious/images/specials-3.jpg"); }
.img4 { background: url("../../../Delicious/images/specials-4.jpg"); }
.img5 { background: url("../../../Delicious/images/specials-5.jpg"); }

#sp1:checked ~ .carousel-images .img1 { opacity: 1; }
#sp2:checked ~ .carousel-images .img2 { opacity: 1; }
#sp3:checked ~ .carousel-images .img3 { opacity: 1; }
#sp4:checked ~ .carousel-images .img4 { opacity: 1; }
#sp5:checked ~ .carousel-images .img5 { opacity: 1; }
