body {
    font-family: Arial, sans-serif;
}

.why-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;   
    padding: 60px 0;
}

.badge {
    color: orange;
    background: #ffe7c2;
    padding: 6px 22px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

/* Main Title */
.main-title {
    font-size: 30px;
    font-family: "Satisfy", cursive;
    font-weight: 700;
    margin-bottom: 40px;
}

.title-orange {
    color: orange;
}

.boxes {
    width: 85%;               
    max-width: 1200px;       
    display: flex;
    justify-content: center;
    gap: 20px;  
}

.box {
    width: 33%;              
    background: rgba(128, 128, 128, 0.112);
    padding: 35px 30px;
    border-radius: 8px;
    border: 1px solid white;
    transition: 0.3s;
    text-align: center;       
}

.box:hover {
    background: orange;
    color: white;
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.number {
    color: orange;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    transition: 0.3s;
}

.box:hover .number {
    color: white;
}

.title {
    font-family: "Satisfy", cursive;
    font-size: 32px;
    margin-bottom: 10px;
}

.box p {
    color: #777;
    line-height: 1.6;
    transition: 0.3s;
}

.box:hover p {
    color: #fff;
}
